*.iml
.gradle
/local.properties
.idea/*
!.idea/codeStyles
!.idea/checkstyle-idea.xml
.DS_Store
/build
/captures
.externalNativeBuild

app/google-services.json
app/src/main/res/values/secrets.xml

# Eclipse
.settings
.project
.classpath