<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comp30022.team_russia.assist">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- XXX ACCESS_NETWORK_STATE is required by WebRTC. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".RussiaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">

        <uses-library android:name="org.apache.http.legacy"
                      android:required="false"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key"/>

        <activity
            android:name=".HomeContactListActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:configChanges=
                    "screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" />

        <activity android:name=".features.message.ui.MessageImageFullScreenViewer" />

        <activity android:name=".features.emergency.ui.EmergencyNotificationActivity" />

        <activity android:name=".NavigationRequestActivity" />

        <service android:name=".features.push.sys.RussiaFirebaseService">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".features.jitsi.sys.JitsiPlaceholderService" />

        <receiver android:name=".features.push.sys.FirebaseBroadcastReceiver">
            <intent-filter>
                <action android:name="com.comp30022.team_russia.assist.FIREBASE_DATA_MESSAGE_RECEIVED" />
                <action android:name="com.comp30022.team_russia.assist.FIREBASE_TOKEN_UPDATED" />
            </intent-filter>
        </receiver>

        <!-- Camera Photo Taking -->
        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.example.android.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"></meta-data>
        </provider>

    </application>
</manifest>
